<div class="container">

  <br>
  <h1>Create a New Dojo Space</h1>
  <br>
  <%= simple_form_for @dojo_space do |f| %>
    <%= f.input :name %>
    <%= f.input :price %>
    <%= f.input :location %>
    <%= f.input :martial_art %>
    <%= f.input :photos, as: :file, input_html: {multiple: true} %>
    <%= f.submit "Save", class: "btn btn-primary" %>
  <% end %>

</div>
