<div class="container d-flex justify-content-between">
<div class="container">

  <br>
  <h1><%= @dojo_space.name %></h1>
  <br>

  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <% if @dojo_space.photos.attached? %>
        <%= cl_image_tag @dojo_space.photos[0].key, height: 300, width: 400, crop: :fill %>
        <% else %>
        <%= image_tag "dojo3", height: 300, width: 400, crop: :fill   %>
        <% end %>
      </div>
      <div class="carousel-item">
        <%= image_tag "dojo1", height: 300, width: 400, crop: :fill   %>
      </div>
      <div class="carousel-item">
        <%= image_tag "dojo4", height: 300, width: 400, crop: :fill   %>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <h2>Martial Art: <%= @dojo_space.martial_art %></h2>
  <h2>Location: <%= @dojo_space.location %></h2>
  <h2>Price: $<%= @dojo_space.price %> per day</h2>
  <br>
  <%= link_to "Create a New Booking", new_dojo_space_booking_path(@dojo_space), class: "btn btn-primary" %>

  <% if @dojo_space.user_id == current_user.id %>
    <%= link_to "Delete #{@dojo_space.name}",
              dojo_space_path(@dojo_space),
              method: :delete,
              data: { confirm: "Are you sure?" }, class: "btn btn-link" %>
  <% end %>

</div>

<div class = "container">

<br>
<h1><%= "List of reviews"  %></h1>
<br>

  <% @dojo_space.bookings.each do |booking|  %>
  <% booking.reviews.each do |review| %>
  <p><%= review.content %> <%= review.rating %>/5 </p>
  <% end %>
  <% end %>

</div>
</div>
