<h1>Name: <%= @dojo_space.name %></h1>
<h1>Price: <%= @dojo_space.price %></h1>
<h1>Locaiton: <%= @dojo_space.location %></h1>
<h1>Martial Art: <%= @dojo_space.martial_art %></h1>

<%= link_to dojo_space_path(@dojo_space),
  method: :delete,
  data: { confirm: "Are you sure?" } do %>

  <i class="fa fa-trash" aria-hidden="true"></i>

<% end %>
