<div class="container d-flex justify-content-between">
<div class="container">

  <br>
  <h1><%= @dojo_space.name %></h1>
  <br>
  <%= cl_image_tag @dojo_space.photo.key, height: 300, width: 400, crop: :fill if @dojo_space.photo.attached? %>
  <h2>Martial Art: <%= @dojo_space.martial_art %></h2>
  <h2>Location: <%= @dojo_space.location %></h2>
  <h2>Price: $<%= @dojo_space.price %> per day</h2>
  <br>
  <%= link_to "Create a New Booking", new_dojo_space_booking_path(@dojo_space), class: "btn btn-primary" %>

  <% if @dojo_space.user_id == current_user.id %>
    <%= link_to "Delete #{@dojo_space.name}",
              dojo_space_path(@dojo_space),
              method: :delete,
              data: { confirm: "Are you sure?" }, class: "btn btn-link" %>
  <% end %>

</div>

<div class = "container">

<br>
<h1><%= "List of reviews"  %></h1>
<br>

  <% @dojo_space.bookings.each do |booking|  %>
  <% booking.reviews.each do |review| %>
  <p><%= review.content %> <%= review.rating %>/5 </p>
  <% end %>
  <% end %>

</div>
</div>
